*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
section{
  width:15%;
  height:100px;
  background-color: blue;
  border-style: ;
  border: black;
  float:left ;
  list-style-type: none;
}
header{
  width:100%;
  height:50px;
  background-color: #3b5998;
  padding-left: 30px
}
section.blockOne{
  width:15%;
  height: 1000px;

}
section.blockTwo{
  width:40%;
  height: 1000px;
}
section.blockThree{
  width:30%;
  height: 1000px;
}
section.blockFour{
  width:15%;
  height: 1000px;
}
section{
  width: 100%;
}
img.logo{
  width:3%;
  height:50px;
  float: left;

}
section.picture img{
  width:20%;
  height:200px;
  align-items: center;
}

input.search{
  width: 35%;
  float: left;
}
section input{
  height: 90px;
  width: 80%
}
a{
  text-decoration: none;
  word-spacing: 3em;
}
header a{
  color: white;
}
section.blockTwo section:nth-child(1){
  height: 200px
}
section.blockThree section:nth-child(1){

}
section.blockOne section:nth-child(1),section.blockOne section:nth-child(2),section.blockOne section:nth-child(3), section.explore{

  height: 333px;
  background-color: lightgrey;

}
section.blockTwo section:nth-child(1),section.blockTwo section:nth-child(2),section.blockTwo section:nth-child(3){

  height: 333px;
  background-color: lightgrey;

}
section.blockThree section:nth-child(1),section.blockThree section:nth-child(2),section.blockThree section:nth-child(3){

  height: 333px;
  background-color: lightgrey;

}
section.blockFour section:nth-child(1),section.blockFour section:nth-child(2),section.blockFour section:nth-child(3){

  height: 333px;
  background-color: lightgrey;

}
